body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
    color: #7f7f7f;
    color: rgba(255, 255, 255, 0.7);
    background: #fff;
    height: 100%;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* 超链接样式初始化 */
a {
    color: #17e7a4;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #17e7a4;
    outline: none;
  }
  /* P标签样式初始化设置 */
  p {
    margin-bottom: 1.5em;
  }
  /* 标题标签初始化设置 */
  h1, h2, h3, h4, h5, h6 {
    color: rgb(227, 230, 229);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
/* 响应式网站 当页面宽度小于768px时，执行以下代码 */
  @media screen and (max-width: 768px) {
    #fh5co-main {
      margin: 2em .5em 5em .5em;
    }
  }

  /* 中间内容模块样式设置 start */
.personal-wrap{
    max-width: 760px;
    min-height: 700px;
    margin: 5em auto 5em auto;
    position: relative;
    background: rgba(28, 29, 29, 0.85);
    overflow: hidden;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
 /* 上面menu切换模块样式设置 start */
.personal-wrap .personal-tab-wrap{
    position: relative;    
}
.personal-wrap .personal-tab-wrap .tab-menu{
     list-style: none;
     position: relative;
     margin: 0;
     padding: 0;
     text-align: center;
     margin-bottom: 2em;
}
.personal-wrap .personal-tab-wrap .tab-menu li{
    display: inline-block;
    text-align: center;
}
.personal-wrap .personal-tab-wrap .tab-menu li:hover{
    background: #17e7a4;
}
.personal-wrap .personal-tab-wrap .tab-menu li a{
    display: inline-block;
    padding: 1em 1em 1em 1em;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    z-index: 10;
    zoom: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.personal-wrap .personal-tab-wrap .tab-menu li .icon{
    display: block;
    position: relative;
    margin-bottom: 0.3em;   
    bottom: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.personal-wrap .personal-tab-wrap .tab-menu li a:hover .icon{
    margin-bottom: 0.6em;  
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.personal-wrap .personal-tab-wrap .tab-menu li .text-menu{
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
 /* 上面menu切换模块样式设置 end */

/* 内容模块1样式设置 start */
.personal-wrap .personal-tab-content{
    position: absolute;
    top: 0;
    padding-left: 3em;
    padding-right: 3em;
    opacity: 0;
    display: none;
    width: 100%;
 }
 .personal-wrap .personal-tab-content.active{
     display: block;
     opacity: 1;
 }

 .personal-wrap .tab-content-inner{
    padding: 7em 2em 0.5em 2em;
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
 }
 .personal-wrap figure{
     width:inherit;
     position: relative;
     width: 100%;
     top: 1em;
 }
 .personal-wrap figure img{
     display: inline-block;
     height: 150px;
     width: 150px;
     border-radius: 50%;
 }

 .personal-wrap .tab-content-inner h1{
     color: #fff;
     margin-top: 1em;
     margin-bottom: 2em;
 }
 .personal-wrap .tab-content-inner p{
     /* margin-top: 2em; */
     color: #fff;
     margin-top: 1em;
     padding-left: 2em;
     padding-right: 2em;
     font-size: 16px;
     text-indent: 2em;
 }
 .personal-wrap .tab-cunter{
     margin-top: 4em;
 }
 .personal-wrap .tab-cunter ul{
     list-style: none;
     padding: 0;
     margin: 0;
 }
 .personal-wrap .tab-cunter ul li{
     display: inline-block;
     padding: 0;
     margin: 0 2em;
 }
 .personal-wrap .tab-cunter ul li .icon{
    color: white;
    font-size: 1.5em;
 }
 .personal-wrap .tab-cunter ul li a:hover .icon{
    color: #17e7a4;
 }
/* 内容模块1样式设置 end */
/* 中间内容模块样式设置 end*/

/* 内容模块2样式设置 start */
 .personal-wrap .tab-content-1 p{
    line-height: 2em;
 } 
.personal-wrap .tab-content-1 .job-one{
    text-align: left;
    width: 100%;
    float: left;
    padding-left: 3em;
}
.personal-wrap .tab-content-1 .job-one .job-icon{
    float: left;
    width: 10%;
    display: block;
    margin: 3em auto;
}
.personal-wrap .tab-content-1 .job-one .job-icon .icon{
    color: #17e7a4;
    font-size: 60px;
}
.personal-wrap .tab-content-1 .job-one .job-text{
    float: right;
    width: 82%;
  }
  .personal-wrap .tab-content-1 .job-one .job-text h2{
      color: white;
  }

  .personal-wrap .tab-content-1 .chart {
    width: 160px;
    height: 160px;
    margin: 0 auto 30px auto;
    position: relative;
    text-align: center;
    color: white;
  }
  .chart span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    width: 100%;
  }
  .chart span strong {
    display: block;
  }
  .chart canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
/* 内容模块2样式设置 end */

/* 底部样式设置 start */
.personal-wrap footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 4em;
    background: black;
}
/* 底部样式设置 end */